.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #9a9191;
    width: 60%;
    background-color: #ddd1d1;
}

.close {
    color: #000;
    font-size: 32px;
}

.close:hover, .close:focus {
    cursor: pointer;
}

.table-main {
    font-size: 32px;
    width: 80%;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #978;
}